
video {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0;
        border: 1px solid grey;
        width: 100%;
}
  
canvas{
    display: none;
    margin: auto;
    background-color: #ccc;
}
.chat-box{
    grid-area: camerabox;
    width: 50%;
    height: 375px;
    border: 1px solid black;
    display: block;
    position: relative;
    margin: auto;
    overflow: auto;
    margin-bottom: 20px;
}

video.local-user {
    width: 120px;
    height: 90px;
    position: absolute;
    top: 1rem;
    z-index: 1;
    left: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 4px black;
}
video.remote-user {
   
    position: absolute;
}
.calling-tools{
    position: relative;
    margin: auto;
    top: calc(100% - 40px);
    display: flex;
    justify-content: space-evenly;
    
}
.hang-up{
   
}
.tools{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin: auto;
}
.number {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}
.number-input{
        width: 60%;
        border: none;
}
.number-input:hover,.number-input:focus{
    border: none;
}