.message-list-header{
    border-bottom: 1px solid var(--app-bg-color);
    padding-bottom: 18px;
}
.message-list-footer{
    background: var(--app-bg-color);
    border-radius: 5px;
}
.message-list-footer input{
    color:white !important;
    background: var(--app-bg-color);
    border: none;
}
.message-list-footer input::placeholder{
    color:grey;
}
.message-list-footer  :where(.css-dev-only-do-not-override-djtmh8).ant-input-affix-wrapper{
    background: var(--app-bg-color);
    border: none;
   
}
.message-list-footer input:hover{
    background: none;
    border: none;
}
.message-list-footer input:focus{
    background: none;
    border: none;
}

.message-list-body{
    height: 80%;
    overflow: scroll;
}
.send-icon{
    color: #b6bdc7;
}
.upload-img-icon{
    font-size: 2.1em;
    color: #b6bdc7;
}


/* 聊天框 */
/* 聊天消息框样式 */
.message-box {
    max-width: 400px;
    
    padding: 5px;
    border-radius: 10px;
    display: flex; 
    overflow-y: auto; /* 添加滚动条 */
  }
  .message-detail{
    margin-left: .5em;
  }
.message-reverse{
    flex-direction: row-reverse;
}

  
  /* 用户名字样式 */
  .username {
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #ffffff;
  }
  .username-text-align{
    text-align: end;
    margin-right: .5em;
  }

  
  
  /* 用户消息样式 */
  .user-message {
    max-width: 90%;
    margin-bottom: 20px;
    padding: 10px 15px;
    word-wrap: break-word;
    border-radius: 10px 0 10px 5px;
    background-color: #1278e4;
    color: #fff;
    clear: both;
    float: right;
  }
  
  /* 对方消息样式 */
  .other-message {
    max-width: 70%;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 0 10px 5px 10px;
    background-color: #ffffff;
    color: #333;
    clear: both;
    float: left;
  }
  
  /* 时间戳样式 */
  .timestamp {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    clear: both;
  }